body{
    background-color: white;
}

.error{
    color: rgb(93, 16, 16);
}

h1{
    font-size: 25px;
}

nav{
    background-color: white;
}

.routeur {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.texteBoutton{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.tableProduits{
    border-collapse:separate; 
    border-spacing:0 15px; 
}

tr{
    padding: 10px;
    margin: 10px;
}

.boutonAjouterProduit{
    background-color: rgb(116, 192, 66);
    border-radius: 5px;
    border-spacing :5px;
    text-align: center;
    font-weight: bold;



}

.produits{
    border-style: solid;
    border-color: solid black ;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: black;
}

.boutonDetail{
    background-color: rgb(195, 154, 37); 
    width: 100%;
    border-radius: 5px 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: black;
}

th{
    font-weight: bold;

}

.tableProduits{
    width: 100%;
}

ul{
    list-style-type: none;
    
}

.liRouteur{
    display: inline-block;

}

.tableProduits{
    border-collapse: collapse;
    border-color: solid black;
}



nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.image{
    width: 50px;
    height: auto;
}

.colGauche{
    border-left: none;
    border-right: none;

}

.colMilieu{
    border-left: none;
    border-right: none;

}

.colDroite{
    border-left: none;
    border-right: none;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {    background-color: rgb(233, 211, 14);
}

.colonneDetail{
    background-color: white;
}