body{
    background-color: white;
}

.error{
    color: rgb(93, 16, 16);
}

h1{
    font-size: 25px;
}

nav{
    background-color: white;
}

.button {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.texteBoutton{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.colonneVide{
    width: 20%;
}

table{
    border-collapse:collapse; 

}

.tableProduits{
    border-collapse:separate; 
    border-spacing:0 15px; 
    border-color: solid black;
    width: 100%;
}

tr{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;


}

.colonneQuantite{
    padding: 10px;

}

.boutonAjouterProduit{
    background-color: rgb(116, 192, 66);
    border-radius: 5px;
    border-spacing :5px;
    text-align: center;
    font-weight: bold;
    margin: 0% 5%;
}

.boutonDetail{
    background-color: rgb(195, 154, 37); 
    width: 100%;
    border-radius: 5px 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    color: black;
}

th{
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}

ul{
    list-style-type: none;
    
}

.liRouteur{
    display: inline-block;

}




nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.image{
    width: 50px;
    height: auto;
}

.colGauche{
    border-left: none;
    border-right: none;

}

.colMilieu{
    border-left: none;
    border-right: none;

}

.colDroite{
    border-left: none;
    border-right: none;
}

.table-line tr:nth-child(even) {
    background: #CCC;
}

tr:nth-child(odd) {    
    background-color: rgb(233, 211, 14);
}

.colonneDetail{
    background-color: white;
}

.titreProduit{
    background-color: rgb(100, 226, 100);
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
}

.boutonPageDetail{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(87, 92, 87);
    font-weight: bold;
    padding: 5px 15px;
    margin: 10px 0;
}

.fa-arrow-left{
    font-size:50px;
}

.flecheretour{
    display: inline-block;
}